@import "mixin";

/* Nav Bar */
.header__nav {
  display: flex;
}

.header__logo {
  display: flex;
  flex: 1;
  position: relative;
  padding: 20px;
}

.header__menu {
  @include menu;
  justify-content: flex-end;
  flex: 1.236;

  li a {
    color: var(--secondary-color);
  }
}

.header__logo-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: -1;
}

.header__logo h4 {
  @include logo;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu-mobile {
  display: none;
  position: relative;
}