@mixin card-border {
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sushi-title {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  color: var(--primary-color);
  opacity: 0.8;
  letter-spacing: -0.01em;
}

@mixin sushi-subtitle {
  font-size: 64px;
  font-weight: 600;
  font-family: var(--playfair-display);
  color: var(--secondary-color);
  margin-top: 16px;
}

@mixin sushi-description {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  line-height: 36px;
  letter-spacing: -0.01em;
  color: var(--secondary-color);
  opacity: 0.8;
  margin: 32px 0px;
}

@mixin input-font {
  color: var(--color-white);
  opacity: 0.5;
  font-family: var(--plus-jakarta-sans);
}