@mixin card-border {
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

